<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{meta_title}}</title>
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    {{ghost_head}}
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        {{#if @blog.logo}}
          <header class="site-header">
            <a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
          </header>
        {{/if}}
        {{{body}}}
        <footer class="site-footer">
          {{navigation}}
        </footer>
      </div>
    </div>
    <script type="text/javascript" src="{{asset "js/highlight.js"}}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {{ghost_foot}}
  </body>
</html>
